.w{
	margin-right: 1000px;
}




.image{
	position: absolute;
    top: 80%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    float: right;
    margin-right: 2000px;

}
